<div class="wrapper">
    <div class="title-container">
      <h3 class="page-title">TASKS TABLE</h3>
      <h4 class="page-subtitle">- {{ projectName }} -</h4>
    </div>
    <div class="icon-wrapper">
      <button class="add-icon" matTooltip="Add New Functionality" (click)="addNewTask()">
        <img src="../../../../assets/icons/add_task_black_24dp.svg" alt="add task" />
      </button>
    </div>
    <div class="kanban-board">
      <div
        id="todo"
        class="kanban-column"
        cdkDropList
        [cdkDropListData]="todoTasks"
        (cdkDropListDropped)="onCardDrop($event)"
        [cdkDropListConnectedTo]="['doing', 'done']"
      >
        <div class="kanban-column-header" style="color: red">To Do</div>
        <div class="kanban-card" *ngFor="let task of todoTasks" cdkDrag>
          <div class="kanban-card__info">
            <p
              [class.red-alert]="isAlertState(task) === 'RED'"
              [class.orange-alert]="isAlertState(task) === 'ORANGE'"
              [class.green-alert]="isAlertState(task) === 'GREEN'"
              class="kanban-card__info--state"
            >
              {{ task.state | capitalLetterFirst }}
            </p>
            <p
              [class.red-alert]="isAlertPriority(task) === 'RED'"
              [class.orange-alert]="isAlertPriority(task) === 'ORANGE'"
              [class.green-alert]="isAlertPriority(task) === 'GREEN'"
              class="kanban-card__info--state"
            >
              {{ task.priority | capitalLetterFirst }}
            </p>
            <div class="actions-icon">
              <button class="btn-actions-icon" matTooltip="Edit Task" (click)="editTask(task)">
                <img src="../../../assets/icons/edit.svg" />
              </button>
              <button class="btn-actions-icon" matTooltip="More Info" (click)="openMoreInfoTask(task)">
                <img src="../../../../assets/icons/info_black_24dp.svg" />
              </button>
            </div>
          </div>
          <div class="kanban-card__title">{{ task.name }}</div>
          <div class="user-icon">
            <img
              *ngFor="let user of task.userResponsibleForTask"
              [matTooltip]="user"
              src="../../../../assets/icons/account_user.svg"
            />
          </div>
        </div>
      </div>
      <div
        id="doing"
        class="kanban-column"
        cdkDropList
        [cdkDropListData]="inProgressTasks"
        (cdkDropListDropped)="onCardDrop($event)"
        [cdkDropListConnectedTo]="['todo', 'done']"
      >
        <div class="kanban-column-header" style="color: orange">In Progress</div>
        <div class="kanban-card" *ngFor="let task of inProgressTasks" cdkDrag>
          <div class="kanban-card__info">
            <p
              [class.red-alert]="isAlertState(task) === 'RED'"
              [class.orange-alert]="isAlertState(task) === 'ORANGE'"
              [class.green-alert]="isAlertState(task) === 'GREEN'"
              class="kanban-card__info--state"
            >
              {{ task.state | capitalLetterFirst }}
            </p>
            <p
              [class.red-alert]="isAlertPriority(task) === 'RED'"
              [class.orange-alert]="isAlertPriority(task) === 'ORANGE'"
              [class.green-alert]="isAlertPriority(task) === 'GREEN'"
              class="kanban-card__info--state"
            >
              {{ task.priority | capitalLetterFirst }}
            </p>
            <div class="actions-icon">
              <button class="btn-actions-icon" matTooltip="Edit Task" (click)="editTask(task)">
                <img src="../../../assets/icons/edit.svg" />
              </button>
              <button class="btn-actions-icon" matTooltip="More Info" (click)="openMoreInfoTask(task)">
                <img src="../../../../assets/icons/info_black_24dp.svg" />
              </button>
            </div>
          </div>
          <div class="kanban-card__title">{{ task.name }}</div>
          <div class="user-icon">
            <img
              *ngFor="let user of task.userResponsibleForTask"
              [matTooltip]="user"
              src="../../../../assets/icons/account_user.svg"
            />
          </div>
        </div>
      </div>
      <div
        id="done"
        class="kanban-column"
        cdkDropList
        [cdkDropListData]="doneTasks"
        (cdkDropListDropped)="onCardDrop($event)"
        [cdkDropListConnectedTo]="['doing', 'todo']"
      >
        <div class="kanban-column-header" style="color: green">Done</div>
        <div class="kanban-card" *ngFor="let task of doneTasks" cdkDrag>
          <div class="kanban-card__info">
            <p
              [class.red-alert]="isAlertState(task) === 'RED'"
              [class.orange-alert]="isAlertState(task) === 'ORANGE'"
              [class.green-alert]="isAlertState(task) === 'GREEN'"
              class="kanban-card__info--state"
            >
              {{ task.state | capitalLetterFirst }}
            </p>
            <p
              [class.red-alert]="isAlertPriority(task) === 'RED'"
              [class.orange-alert]="isAlertPriority(task) === 'ORANGE'"
              [class.green-alert]="isAlertPriority(task) === 'GREEN'"
              class="kanban-card__info--state"
            >
              {{ task.priority | capitalLetterFirst }}
            </p>
            <div class="actions-icon">
              <button class="btn-actions-icon" matTooltip="Edit Task" (click)="editTask(task)">
                <img src="../../../assets/icons/edit.svg" />
              </button>
              <button class="btn-actions-icon" matTooltip="More Info" (click)="openMoreInfoTask(task)">
                <img src="../../../../assets/icons/info_black_24dp.svg" />
              </button>
            </div>
          </div>
  
          <div class="kanban-card__title">{{ task.name }}</div>
          <div class="user-icon">
            <img
              *ngFor="let user of task.userResponsibleForTask"
              [matTooltip]="user"
              src="../../../../assets/icons/account_user.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  