<div class="functionality-details">
    <h2>Functionality Details</h2>
    <ul>
      <li>
        <span class="label">Name:</span>
        <span class="value">{{ functionalityInfo.name }}</span>
      </li>
      <li>
        <span class="label">Description:</span>
        <span class="value">{{ functionalityInfo.description }}</span>
      </li>
      <li>
        <span class="label">Priority:</span>
        <span class="value">{{ functionalityInfo.priority | capitalLetterFirst }}</span>
      </li>
      <li>
        <span class="label">Owner:</span>
        <span class="value">{{ functionalityInfo.owner }}</span>
      </li>
      <li>
        <span class="label">Status:</span>
        <span class="value">{{ functionalityInfo.status | capitalLetterFirst }}</span>
      </li>
      <!-- <li>
        <span class="label">Date Added:</span>
        <span class="value">June 25, 2023</span>
      </li>
      <li>
        <span class="label">Date Start:</span>
        <span class="value">June 26, 2023</span>
      </li> -->
      <li>
        <span class="label">People Involved:</span>
        <ul class="people-list">
          <li *ngFor="let user of getUniqueUsers(functionalityInfo.tasks)">
            <span>{{ user }}</span>
          </li>
        </ul>
      </li>
      <li>
        <span class="label">Related Tasks:</span>
        <ul class="related-tasks">
          <li *ngFor="let task of functionalityInfo.tasks">
            <span class="task-name">{{ task.name }}</span>
            <span class="task-state">{{ task.state | capitalLetterFirst }}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  