<div class="modal">
    <div class="modal__body">
      <h3 class="modal__body--heading">{{ modalValue }}</h3>
    </div>
    <div class="modal__footer">
      <button class="btn-actions-icon" matTooltip="Cancel" (click)="cancelModal()">
        <img src="../../../../assets/icons/close_black_24dp.svg" />
      </button>
      <button class="btn-actions-icon" matTooltip="Confirm" (click)="confirm()">
        <img src="../../../../assets/icons/check_black_24dp.svg" />
      </button>
    </div>
  </div>
  