.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  
    .page-title {
      font-size: 50px;
    }
  
    .page-subtitle {
      color: #008000;
      font-size: 35px;
      margin-top: 30px;
    }
  }
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 17vw;
  }

  .icon-wrapper {
    padding: 0 25px 10px;
    text-align: center;
  
    .add-icon {
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }

  .wrapper-table {
    display: flex;
    justify-content: center;
    width: 65vw;
    max-height: 60vh;
    overflow: auto;
    box-shadow: 3px 5px 12px -5px rgba(66, 68, 90, 1);
    border-left: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
  }
  
  .table-row {
    transition: 0.3s;
    &:hover {
      background-color: #f2f2f2 !important;
      cursor: pointer;
    }
  }
  
  .table-row-active {
    transition: 0.3s;
    background-color: #2fff4b !important;
  }
  
  .table {
    border-radius: 10px;
  }
  
  .mat-sort-header {
    font-size: 17px;
    background-color: #f2f2f2 !important;
    color: #000000;
  }
  
  .btn-actions-icon {
    min-width: 10px;
    padding: 3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  
    img {
      height: 1.5rem;
    }
  }
  
  .mat-mdc-table tbody,
  .mat-mdc-table tfoot,
  .mat-mdc-table thead,
  .mat-mdc-cell,
  .mat-mdc-footer-cell,
  .mat-mdc-header-row,
  .mat-mdc-row,
  .mat-mdc-footer-row,
  .mat-mdc-table .mat-mdc-header-cell {
    padding: 20px;
  }
  
  .status-state {
    padding: 2px;
    text-align: center;
    border-radius: 20px;
    color: white;
  }
  
  .red-alert-todo {
    background-color: #ff0000;
    padding: 5px;
  }
  .orange-alert-doing {
    background-color: #e69602;
    padding: 5px;
  }
  .green-alert-done {
    background-color: #27ce3e;
    padding: 5px;
  }
  